.heading {
  color: white;
  font-weight: 700;
  font-size: 24px;
  padding: 20px;
}
.cardsBody {
  position: relative; /* Ensure relative positioning for pseudo-element */
  background: linear-gradient(93.51deg, #9c4ee5c8 2.84%, #3081ed 99.18%);
  background-position: center;
}

.cardsBody::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(
    0,
    0,
    0,
    0.892
  ); /* Adjust the alpha (last value) for darkness */
  z-index: -1; /* Ensure the overlay is behind the content */
  filter: blur(120px);
}
.swiper {
  height: 630px;
  width: 100%;
}

/* Set width for each card to create a three-column layout */
.cardsBody > * {
  flex: 0 0 calc(33.333% - 2px); /* 20px is the space between cards */
  margin-bottom: 500px; /* Adjust margin as needed */
}

/* Responsive styling for smaller screens */
@media (max-width: 768px) {
  .cardsBody > * {
    flex: 0 0 calc(50% - 20px);
  }
}
