@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  overflow-x:hidden;
  background: rgb(5, 4, 5);
  background: radial-gradient(circle, rgba(11, 8, 10, 0.926) 0%, rgba(0, 0, 0, 0.551) 100%);

}
