@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: rgb(251,63,142);
  background: radial-gradient(circle, rgba(251,63,142,1) 0%, rgba(252,70,70,1) 100%);

}
